<!DOCTYPE html>
<html>
  <head>
    <title>Get Stock Data</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css"
    />
  </head>
  <body>
    <div id="parent_container">
      <h1 class="title_heading">WealthTracker</h1>
      <p class="home_page_para">
        Your turn-key solution to qualitative stock market investment decisions.
        Get reliable and affordable trading advice from trusted financial news
        sources and research reports, all in one easy-to-use dashboard.
      </p>
      <form
        method="POST"
        action="{{ url_for('get_stock_data_route') }}"
        onsubmit="showPreloader(event)"
      >
        <input
          type="text"
          id="stock_symbol"
          class="autoComplete effect-11"
          name="stock_symbol"
          placeholder="Enter Company Name: "
          required
        /><span class="focus-bg"></span>
        <button class="submit_btn" type="submit">Get data</button>
      </form>
    </div>
    <div id="loading" style="display: none"></div>

    <script>
      $(function () {
        var availableSymbols = [
          "Reliance Industries Ltd",
          "Tata Consultancy Services Ltd",
          "HDFC Bank Ltd",
          "Infosys Ltd",
          "ICICI Bank Ltd",
          "Hindustan Unilever Ltd",
          "State Bank of India",
          "Housing Development Finance Corporation Ltd",
          "Bharti Airtel Ltd",
          "Adani Enterprises Ltd",
          "Life Insurance Corporation Of India",
          "ITC Ltd",
          "Adani Total Gas Ltd",
          "Bajaj Finance Ltd",
          "Kotak Mahindra Bank Ltd",
          "Adani Green Energy Ltd",
          "Asian Paints Ltd",
          "Larsen and Toubro Ltd",
          "Adani Transmission Ltd",
          "Axis Bank Ltd",
          "HCL Technologies Ltd",
          "Avenue Supermarts Ltd",
          "Maruti Suzuki India Ltd",
          "Bajaj Finserv Ltd",
          "Sun Pharmaceutical Industries Ltd",
          "Titan Company Ltd",
          "Wipro Ltd",
          "UltraTech Cement Ltd",
          "JSW Steel Ltd",
          "Oil  Natural Gas Corporation Ltd",
          "Adani Ports and Special Economic Zone Ltd",
          "NTPC Ltd",
          "Mahindra  Mahindra Ltd",
          "Power Grid Corporation of India Ltd",
          "Coal India Ltd",
          "Tata Steel Ltd",
          "Hindustan Zinc Ltd",
          "Pidilite Industries Ltd",
          "LTIMindtree Ltd",
          "Tata Motors Ltd",
          "SBI Life Insurance Company Ltd",
          "HDFC Life Insurance Company Ltd",
          "Adani Power Ltd",
          "Vedanta Ltd",
          "Grasim Industries Ltd",
          "Indian Oil Corporation Ltd",
          "Hindalco Industries Ltd",
          "Ambuja Cements Ltd",
          "Britannia Industries Ltd",
          "Bajaj Auto Ltd",
          "Siemens Ltd",
          "Dabur India Ltd",
          "Tech Mahindra Ltd",
          "Bank of Baroda",
          "IndusInd Bank Ltd",
          "DLF Ltd",
          "Divi's Laboratories Ltd",
          "Godrej Consumer Products Ltd",
          "Eicher Motors Ltd",
          "Cipla Ltd",
          "Varun Beverages Ltd",
          "Hindustan Aeronautics Ltd",
          "SHREE CEMENT Ltd",
          "Adani Wilmar Ltd",
          "InterGlobe Aviation Ltd",
          "SBI Cards and Payment Services Ltd",
          "Bharat Electronics Ltd",
          "Bharat Petroleum Corporation Ltd",
          "TATA CONSUMER PRODUCTS Ltd",
          "Dr. Reddy's Laboratories Ltd",
          "Havells India Ltd",
          "SRF Ltd",
          "Tata Power Company Ltd",
          "Marico Ltd",
          "ICICI Prudential Life Insurance Company Ltd",
          "Apollo Hospitals Enterprise Ltd",
          "Bajaj Holdings  Investment Ltd",
          "United Spirits Ltd",
          "Punjab National Bank",
          "ICICI Lombard General Insurance Company Ltd",
          "Indian Overseas Bank",
          "Canara Bank",
          "Cholamandalam Investment and Finance Company Ltd",
          "Yes Bank Ltd",
          "Jindal Steel Power Ltd",
          "IDBI Bank Ltd",
          "ABB India Ltd",
          "Union Bank of India",
          "Hero MotoCorp Ltd",
          "UPL Ltd",
          "Tube Investments of India Ltd",
          "Macrotech Developers Ltd",
          "Torrent Pharmaceuticals Ltd",
          "PI Industries Ltd",
          "TVS Motor Company Ltd",
          "Indus Towers Ltd",
          "Indian Railway Catering And Tourism Corporation Ltd",
          "Bosch Ltd",
          "Zomato Ltd",
        ];

        $(".autoComplete").autocomplete({
          source: availableSymbols,
          select: function (event, ui) {
            // Handle the selection
          },
          response: function (event, ui) {
            if (ui.content.length === 0) {
              // Show "Company not found" message if the input is not in the availableSymbols list
              $(".autoComplete").val("Company not found");
              $("button[type='submit']").prop("disabled", true);
            } else {
              $("button[type='submit']").prop("disabled", false);
            }
          },
        });

        // Clear the input field if the user clicks on it
        $(".autoComplete").click(function () {
          $(this).val("");
          $("button[type='submit']").prop("disabled", false);
        });
      });

      function showPreloader(event) {
        event.preventDefault();
        const input = document.getElementById("stock_symbol");
        const value = input.value.trim();
        if (value) {
          document.getElementById("loading").style.display = "block";
          event.target.submit();
        }
      }
    </script>
  </body>
</html>
