<!DOCTYPE html>
<html>
  <head>
    <title>Stock Data</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Stock Data</h1>
    <!-- <ul>
      {% for item in stock_data %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul> -->
    <img src="data:image/png;base64,{{ stock_data }}" />

    <h1>Research Report ICIC Direct</h1>
    <p>{{ research_data_icic }}</p>

    <h1>Research Report Economic Times India</h1>
    <p>{{ research_data_ecotimes }}</p>

    <h1>Historical Closing Price data</h1>
    <div id="chart"></div>
    <script>
      var graphs = {{closing_chart | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

    <h1>Company Ratios</h1>
    <ul>
      {% for ratio in company_ratios %}
      <li>{{ ratio }}</li>
      {% endfor %}
    </ul>

    <a href="/">Back to form</a>
  </body>
</html>
