<!DOCTYPE html>
<html>
  <head>
    <title>Stock Data</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/script.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1 class="title_heading">{{ stock_symbol }}</h1>
    <div class="list-container">
      <div class="ratio">
        <h2>Company Ratios</h2>
        <ul class="list">
          {% for ratio in company_ratios %}
          <li>{{ ratio }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="about">
        <h2>About Company</h2>
        <p>{{ about }}</p>
      </div>
    </div>

    <div id="chart"></div>
    <script>
      var graphs = {{closing_chart | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

    <br />
    <h2 class="quarterly-results-header" id="quarterly-results-header">
      Quarterly Results <i class="arrow down"></i>
    </h2>

    <div id="quarterly-results-content" style="display: none">
      {{ quaterly_results | safe }}
    </div>
    <script></script>

    <br />
    <h2 class="profit-loss-header" id="profit-loss-header">
      Profit and Loss Statement <i class="arrow down"></i>
    </h2>

    <div id="profit-loss-content" style="display: none">
      {{ profit_loss | safe }}
    </div>
    <script></script>

    <br />
    <h2 class="balance-sheet-header" id="balance-sheet-header">
      Balance Sheet <i class="arrow down"></i>
    </h2>

    <div id="balance-sheet-content" style="display: none">
      {{ balance_sheet | safe }}
    </div>
    <script></script>

    <br />
    <h2 class="cash-flow-header" id="cash-flow-header">
      Cash Flow <i class="arrow down"></i>
    </h2>

    <div id="cash-flow-content" style="display: none">
      {{ cash_flow | safe }}
    </div>
    <script></script>

    <br />
    <div id="shareholding-chart"></div>
    <script>
      var chart_json = {{ shareholding | safe }};
      Plotly.plot('shareholding-chart',chart_json,{});
    </script>

    <br /><br />

    <h1>Research Reports Insights</h1>
    <div class="container">
      <div class="research_report">
        <h2>Research Report ICICI Direct</h2>
        <p>{{ research_data_icic }}</p>
        <br />
        <h2>Research Report Economic Times India</h2>
        <p>{{ research_data_ecotimes }}</p>
      </div>

      {% if pie_chart is not none and 'Report' not in pie_chart %}
      <div id="pie-chart"></div>
      <script>
        var chart_json = {{ pie_chart | safe }};
        Plotly.plot('pie-chart',chart_json,{});
      </script>
      {% endif %}

      <!-- {% if 'Report' not in pie_chart %}
      <div id="pie-chart"></div>
      <script>
        var chart_json = {{ pie_chart | safe }};
        Plotly.plot('pie-chart', chart_json, {});
      </script> -->
      <!-- {% else %}
      <p>{{ pie_chart }}</p>
      {% endif %} -->
    </div>

    <h1>Sentiment analysis</h1>
    <p style="display: inline-block;">Company Image: {{ score_a }}</p>
    {% if -1.0 <= score_a <= -0.3 %}
      <span>(Bad)</span>
    {% elif -0.3 < score_a <= 0.5 %}
      <span>(Neutral)</span>
    {% else %}
      <span>(Great)</span>
    {% endif %} <br>

    <p style="display: inline-block;">Medium Term Stock Outlook for Investors: {{ score_b }}</p>
    {% if -1.0 <= score_b <= -0.3 %}
      <span>(Sell)</span>
    {% elif -0.3 < score_b <= 0.5 %}
      <span>(Neutral)</span>
    {% else %}
      <span>(Bullish)</span>
    {% endif %} <br>
    
    <p style="display: inline-block;">Quarter Performance Insight: {{ score_c }}</p>
    {% if -1.0 <= score_c <= -0.1 %}
      <span>(Bad)</span>
    {% elif -0.1 < score_c <= 0.5 %}
      <span>(Neutral)</span>
    {% else %}
      <span>(Great)</span>  
    {% endif %}
    <br>
    <p><i>{{ sentiment_output }}</i></p><br><br>

    <p>Trading Score: {{ score_d }}</p>
    <p>
      Trading output indicates a very short term output (less than a week) use
      sparingly while analysing longer term decisions (a month to a year)
    </p>
    <p>Trading Call: {{ trading_output }}</p>

    <br /><br />
    <a href="/">Back to form</a>
    <script>
      $(document).ready(function () {
        $("#quarterly-results-header").click(function () {
          if ($("#quarterly-results-content").is(":visible")) {
            $("#quarterly-results-content").slideUp("slow");
            $(this).removeClass("open");
          } else {
            $("#quarterly-results-content").slideDown("slow");
            $(this).addClass("open");
          }
        });
      });

      $(document).ready(function () {
        $("#profit-loss-header").click(function () {
          if ($("#profit-loss-content").is(":visible")) {
            $("#profit-loss-content").slideUp("slow");
            $(this).removeClass("open");
          } else {
            $("#profit-loss-content").slideDown("slow");
            $(this).addClass("open");
          }
        });
      });

      $(document).ready(function () {
        $("#balance-sheet-header").click(function () {
          if ($("#balance-sheet-content").is(":visible")) {
            $("#balance-sheet-content").slideUp("slow");
            $(this).removeClass("open");
          } else {
            $("#balance-sheet-content").slideDown("slow");
            $(this).addClass("open");
          }
        });
      });

      $(document).ready(function () {
        $("#cash-flow-header").click(function () {
          if ($("#cash-flow-content").is(":visible")) {
            $("#cash-flow-content").slideUp("slow");
          } else {
            $("#cash-flow-content").slideDown("slow");
          }
        });
      });
    </script>
  </body>
</html>
