<!DOCTYPE html>
<html>
  <head>
    <title>Stock Data</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Stock Data</h1>
    <div id="pie-chart"></div>
    <script>
      var chart_json = {{ pie_chart | safe }};
      Plotly.plot('pie-chart',chart_json,{});
    </script>

    <h1>Research Report ICICI Direct</h1>
    <p>{{ research_data_icic }}</p>

    <h1>Research Report Economic Times India</h1>
    <p>{{ research_data_ecotimes }}</p>

    <h1>Historical Closing Price data</h1>
    <div id="chart"></div>
    <script>
      var graphs = {{closing_chart | safe}};
      Plotly.plot('chart',graphs,{});
    </script>

    <h1>Company Ratios</h1>
    <ul>
      {% for ratio in company_ratios %}
      <li>{{ ratio }}</li>
      {% endfor %}
    </ul>

    <h1>Quaterly Results</h1>
    {{ quaterly_results | safe }}

    <h1>Profit and Loss Statement</h1>
    {{ profit_loss | safe }}

    <h1>Balance Sheet</h1>
    {{ balance_sheet | safe }}

    <h1>Cash Flow</h1>
    {{ cash_flow | safe }}

    <h1>Share Holding</h1>
    <div id="shareholding-chart"></div>
    <script>
      var chart_json = {{ shareholding | safe }};
      Plotly.plot('shareholding-chart',chart_json,{});
    </script>


    <p>Company Image: {{ score_a }}</p>
    <p>Atmosphere for retail investors: {{ score_b }}</p>
    <p>Quarter performance insight: {{ score_c }}</p>
    <p>Stock price analysis insights: {{ score_d }}</p>
   

    <a href="/">Back to form</a>
  </body>
</html>
